<%= stylesheet_link_tag 'home', 'data-turbo-track': 'reload' %>

<div class="image-fluid" alt="responsive">
  <%= image_tag "bannervertical.jpeg" %>
</div>

<div class="container-fluid text-center primary-block" >
  <div class="container">
    <div class="row justify-content-md-center primary-block">
      <div class="col-md-12 card-padding">
        <p></p>
        <h2> Productos Destacados </h2>
        <p></p>
      </div>
    </div>

    <div class="row justify-content-center primary-block">
      <div class="col-md-4 d-flex align-items-center justify-content-center card-padding">
        <div class="card product-card">
          <div class="rounded mx-auto">
            <%= image_tag "Avena.jpeg", class:"img-thumbnail tn-simple" %>
            <div class="card-body">
              <h5 class="card-title">Avena</h5>
              <p class="card-text">Descripción</p>
              <p class="card-text">$39</p> 
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-center justify-content-center card-padding">
        <div class="card product-card">
          <div class="rounded mx-auto">
            <%= image_tag "Brownie.jpg", class:"img-thumbnail tn-simple" %>
            <div class="card-body">
              <h5 class="card-title">Brownie</h5>
              <p class="card-text">Descripción</p>
              <p class="card-text">$39</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-center justify-content-center card-padding">
        <div class="card product-card">
          <div class="rounded mx-auto">
            <%= image_tag "Chococonejo.jpg", class:"img-thumbnail tn-simple" %>
            <div class="card-body">
              <h5 class="card-title">ChoConejito</h5>
              <p class="card-text">Descripción</p>
              <p class="card-text">$39</p> 
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center primary-block">
      <div class="col-md-4 d-flex align-items-center justify-content-center card-padding">
        <div class="card product-card">
          <div class="rounded mx-auto">
            <%= image_tag "conejito.jpg", class:"img-thumbnail tn-simple" %>
            <div class="card-body">
              <h5 class="card-title">Conejito</h5>
              <p class="card-text">Descripción</p>
              <p class="card-text">$39</p> 
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-center justify-content-center card-padding">
        <div class="card product-card">
          <div class="rounded mx-auto">
            <%= image_tag "choconuez.jpeg", class:"img-thumbnail tn-simple" %>
            <div class="card-body">
              <h5 class="card-title">Choco Nuez</h5>
              <p class="card-text">Descripción</p>
              <p class="card-text">$39</p> 
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-center justify-content-center card-padding">
        <div class="card product-card">
          <div class="rounded mx-auto">
            <%= image_tag "chocovainilla.jpg", class:"img-thumbnail tn-simple" %>
            <div class="card-body">
              <h5 class="card-title">Choco Vainilla</h5>
              <p class="card-text">Descripción</p>
              <p class="card-text">$39</p>
            </div>
          </div>
        </div>
      </div>
      <p></p>
    </div>

    <div class="row justify-content-center primary-block">
      <div class="col-md-4 d-flex align-items-center justify-content-center card-padding">
        <div class="card product-card">
          <div class="rounded mx-auto">
            <%= image_tag "Ferrero.jpg", class:"img-thumbnail tn-simple" %>
            <div class="card-body">
              <h5 class="card-title">Ferrero</h5>
              <p class="card-text">Descripción</p>
              <p class="card-text">$39</p> 
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-center justify-content-center card-padding">
        <div class="card product-card">
          <div class="rounded mx-auto">
            <%= image_tag "kitkat.jpeg", class:"img-thumbnail tn-simple" %>
            <div class="card-body">
              <h5 class="card-title">Kitkat</h5>
              <p class="card-text">Descripción</p>
              <p class="card-text">$39</p> 
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-center justify-content-center card-padding">
        <div class="card product-card">
          <div class="rounded mx-auto">
            <%= image_tag "M&m.jpg", class:"img-thumbnail tn-simple" %>
            <div class="card-body">
              <h5 class="card-title">m&m</h5>
              <p class="card-text">Descripción</p>
              <p class="card-text">$39</p>
            </div>
          </div>
        </div>
      </div>
      <p></p>
    </div>

    <div class="row justify-content-center primary-block">
      <div class="col-md-4 d-flex align-items-center justify-content-center card-padding">
        <div class="card product-card">
          <div class="rounded mx-auto">
            <%= image_tag "NaranjaArandanos.jpg", class:"img-thumbnail tn-simple" %>
            <div class="card-body">
              <h5 class="card-title">Naranja con arándanos</h5>
              <p class="card-text">Descripción</p>
              <p class="card-text">$39</p> 
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-center justify-content-center card-padding">
        <div class="card product-card">
          <div class="rounded mx-auto">
            <%= image_tag "Oreo.jpeg", class:"img-thumbnail tn-simple" %>
            <div class="card-body">
              <h5 class="card-title">Oreo</h5>
              <p class="card-text">Descripción</p>
              <p class="card-text">$39</p> 
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-center justify-content-center card-padding">
        
      </div>
      <p></p>
    </div>
    
  </div>
</div>