<%= stylesheet_link_tag 'home', 'data-turbo-track': 'reload' %>

<div class="container-fluid secondary-block">
  <div class="row secondary-block justify-content-between">
    <div class="col-md-2">
      <p></p>
      <h3 class="align-self-start">Angela Kherr</h3>
      <p></p>
    </div>

    <div class="col-md-auto offset-md-auto align-content-center">
      <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav secondary-block">
            <a class="nav-item nav-link active" href="home"></a>
            <a class="nav-item nav-link" href="./index.html">Tienda</a>
            <a class="nav-item nav-link" href="#">Acerca de</a>
            <a class="nav-item nav-link" href="#">Contacto</a>
            <a class="nav-item nav-link disabled" href="#">Cuenta</a>
          </div>
        </div>
      </nav>
    </div>

  </div>
</div>

<div class="image-fluid" alt="responsive">
  <%= image_tag "decoration.jpg" %>
</div>

<div class="container-fluid text-center primary-block" >
  <div class="container">
    <div class="row justify-content-md-center primary-block">
      <div class="col-md-12 card-padding">
      <p></p>
      <h2> Productos Destacados </h2>
      <p></p>
      </div>
    </div>

    <div class="row justify-content-center primary-block">
      <div class="col-md-4 d-flex align-items-center justify-content-center card-padding">
        <div class="card product-card">
          <div class="rounded mx-auto">
            <%= image_tag "jabon.jpg", class:"img-thumbnail" %>
            <div class="card-body">
              <h5 class="card-title">Nombre del Producto</h5>
              <p class="card-text">Descripción</p>
              <p class="card-text">$39</p>
              <%#a href="#" class="btn btn-primary">Go somewhere</a%>  
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-center justify-content-center card-padding">
        <div class="card product-card">
          <div class="rounded mx-auto">
            <%= image_tag "jabon.jpg", class:"img-thumbnail" %>
            <div class="card-body">
              <h5 class="card-title">Nombre del Producto</h5>
              <p class="card-text">Descripción</p>
              <p class="card-text">$39</p>
              <%#a href="#" class="btn btn-primary">Go somewhere</a%>  
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 d-flex align-items-center justify-content-center card-padding">
        <div class="card product-card">
          <div class="rounded mx-auto">
            <%= image_tag "jabon.jpg", class:"img-thumbnail" %>
            <div class="card-body">
              <h5 class="card-title">Nombre del Producto</h5>
              <p class="card-text">Descripción</p>
              <p class="card-text">$39</p>
              <%#a href="#" class="btn btn-primary">Go somewhere</a%>  
            </div>
          </div>
        </div>
      </div>

      <p></p>
      <p></p>
      <p></p>

    </div>
  </div>
</div>

</div>